<a href="https://colab.research.google.com/github/artikwh/big-mart-sales-prediction/blob/main/BigMart_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sales Prediction Practice Problem on 
https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/
we need to predict sales of products at a retail store depending on product attributes as well as store attributes..

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [ ]:
%pwd

'/content'

In [ ]:
%ls

drive/  sample_data/  submission.csv  test_AbJTz2l.csv  train_v9rqX0R.csv

In [ ]:
train = pd.read_csv("train_v9rqX0R.csv")
test = pd.read_csv("test_AbJTz2l.csv")
train.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
train.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [ ]:
train.shape

(8523, 12)

In [ ]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
train.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [ ]:
x = train[['Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP',
       'Outlet_Establishment_Year', 'Outlet_Location_Type',
       'Outlet_Type']]
test_x = test[['Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP',
       'Outlet_Establishment_Year', 'Outlet_Location_Type',
       'Outlet_Type']]
X = pd.get_dummies(x, columns =['Item_Fat_Content', 'Item_Type','Outlet_Location_Type',
       'Outlet_Type' ])
test_X = pd.get_dummies(test_x, columns =['Item_Fat_Content', 'Item_Type','Outlet_Location_Type',
       'Outlet_Type' ])
#X = X.values
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Item_Visibility                  8523 non-null   float64
 1   Item_MRP                         8523 non-null   float64
 2   Outlet_Establishment_Year        8523 non-null   int64
 3   Item_Fat_Content_LF              8523 non-null   uint8
 4   Item_Fat_Content_Low Fat         8523 non-null   uint8
 5   Item_Fat_Content_Regular         8523 non-null   uint8
 6   Item_Fat_Content_low fat         8523 non-null   uint8
 7   Item_Fat_Content_reg             8523 non-null   uint8
 8   Item_Type_Baking Goods           8523 non-null   uint8
 9   Item_Type_Breads                 8523 non-null   uint8
 10  Item_Type_Breakfast              8523 non-null   uint8
 11  Item_Type_Canned                 8523 non-null   uint8
 12  Item_Type_Dairy                  8523 non-null   uint8
 13  Item_Type_Frozen Foods           8523 non-null   uint8
 14  Item_Type_Fruits and Vegetables  8523 non-null   uint8
 15  Item_Type_Hard Drinks            8523 non-null   uint8
 16  Item_Type_Health and Hygiene     8523 non-null   uint8
 17  Item_Type_Household              8523 non-null   uint8
 18  Item_Type_Meat                   8523 non-null   uint8
 19  Item_Type_Others                 8523 non-null   uint8
 20  Item_Type_Seafood                8523 non-null   uint8
 21  Item_Type_Snack Foods            8523 non-null   uint8
 22  Item_Type_Soft Drinks            8523 non-null   uint8
 23  Item_Type_Starchy Foods          8523 non-null   uint8
 24  Outlet_Location_Type_Tier 1      8523 non-null   uint8
 25  Outlet_Location_Type_Tier 2      8523 non-null   uint8
 26  Outlet_Location_Type_Tier 3      8523 non-null   uint8
 27  Outlet_Type_Grocery Store        8523 non-null   uint8
 28  Outlet_Type_Supermarket Type1    8523 non-null   uint8
 29  Outlet_Type_Supermarket Type2    8523 non-null   uint8
 30  Outlet_Type_Supermarket Type3    8523 non-null   uint8
dtypes: float64(2), int64(1), uint8(28)
memory usage: 432.9 KB

In [ ]:
test_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Item_Visibility                  5681 non-null   float64
 1   Item_MRP                         5681 non-null   float64
 2   Outlet_Establishment_Year        5681 non-null   int64
 3   Item_Fat_Content_LF              5681 non-null   uint8
 4   Item_Fat_Content_Low Fat         5681 non-null   uint8
 5   Item_Fat_Content_Regular         5681 non-null   uint8
 6   Item_Fat_Content_low fat         5681 non-null   uint8
 7   Item_Fat_Content_reg             5681 non-null   uint8
 8   Item_Type_Baking Goods           5681 non-null   uint8
 9   Item_Type_Breads                 5681 non-null   uint8
 10  Item_Type_Breakfast              5681 non-null   uint8
 11  Item_Type_Canned                 5681 non-null   uint8
 12  Item_Type_Dairy                  5681 non-null   uint8
 13  Item_Type_Frozen Foods           5681 non-null   uint8
 14  Item_Type_Fruits and Vegetables  5681 non-null   uint8
 15  Item_Type_Hard Drinks            5681 non-null   uint8
 16  Item_Type_Health and Hygiene     5681 non-null   uint8
 17  Item_Type_Household              5681 non-null   uint8
 18  Item_Type_Meat                   5681 non-null   uint8
 19  Item_Type_Others                 5681 non-null   uint8
 20  Item_Type_Seafood                5681 non-null   uint8
 21  Item_Type_Snack Foods            5681 non-null   uint8
 22  Item_Type_Soft Drinks            5681 non-null   uint8
 23  Item_Type_Starchy Foods          5681 non-null   uint8
 24  Outlet_Location_Type_Tier 1      5681 non-null   uint8
 25  Outlet_Location_Type_Tier 2      5681 non-null   uint8
 26  Outlet_Location_Type_Tier 3      5681 non-null   uint8
 27  Outlet_Type_Grocery Store        5681 non-null   uint8
 28  Outlet_Type_Supermarket Type1    5681 non-null   uint8
 29  Outlet_Type_Supermarket Type2    5681 non-null   uint8
 30  Outlet_Type_Supermarket Type3    5681 non-null   uint8
dtypes: float64(2), int64(1), uint8(28)
memory usage: 288.6 KB

In [ ]:
Y = train[['Item_Outlet_Sales']].values
Y

array([[3735.138 ],
       [ 443.4228],
       [2097.27  ],
       ...,
       [1193.1136],
       [1845.5976],
       [ 765.67  ]])

In [ ]:
x_train, x_test, y_train, y_test = train_test_split( X, Y, test_size= 0.3, random_state =0)

In [ ]:
LR= LinearRegression()
#LgR = LogisticRegression()
LR.fit(x_train, y_train)
#LgR.fit(x_train, y_train)
LR_predict = LR.predict(x_test)
predictions = pd.DataFrame({'predict':LR_predict.ravel(), 'actual' :y_test.ravel()})
#LgR_predict = LgR.predict(x_test)
LR_score = LR.score(x_test, y_test)
#LgR_score = LgR.score(y_test, LgR_predict)
print(LR_score)
#print(LgR_score)

0.5607129704328859

In [ ]:
LR.fit(X, Y)
predict = LR.predict(test_X)

In [ ]:
result = pd.DataFrame({'Item_Identifier':test['Item_Identifier'], 'Outlet_Identifier':test['Outlet_Identifier'],
        'Item_Outlet_Sales': predict.ravel()})
result.head(30)

   Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0            FDW58            OUT049        1806.082892
1            FDW14            OUT017        1394.162096
2            NCN55            OUT010        1911.307702
3            FDQ58            OUT017        2545.535364
4            FDY38            OUT027        5139.873607
5            FDH56            OUT046        2009.498682
6            FDL48            OUT018         600.304597
7            FDC48            OUT027        2783.140196
8            FDN33            OUT045        1615.643505
9            FDA36            OUT017        3054.181201
10           FDT44            OUT017        1987.849405
11           FDQ56            OUT045        1455.214934
12           NCC54            OUT019        1836.534982
13           FDU11            OUT049        2017.604658
14           DRL59            OUT013         860.586049
15           FDM24            OUT049        2519.915599
16           FDI57            OUT045        3387.921828
17           DRC12            OUT018        2754.844687
18           NCM42            OUT027        3185.519673
19           FDA46            OUT010        1149.136716
20           FDA31            OUT013        2810.806516
21           NCJ31            OUT035        3791.729167
22           FDG52            OUT046         799.663889
23           NCL19            OUT019         339.583296
24           FDS10            OUT035        2928.219416
25           FDX22            OUT010        1485.210020
26           NCF19            OUT035         826.636687
27           NCE06            OUT046        2577.170177
28           DRC27            OUT046        3882.269582
29           FDE21            OUT035        1942.394675

In [ ]:
#result.to_csv('submission.csv', index= False)